@CHARSET "UTF-8";
/*------ main ------*/
.abb1_navbar-default{
	    background-color: #f9f6ec;
    border-color: #e7e7e7;
}
.abb1_navbar {    position: relative;
    min-height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.01);
}
.abb1_navbar_container{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid #cdc197;
    border-bottom: 1px solid #ab9a60;
}
.abb1_facebook{
	font-size: 14px; font-weight: bold; 
}
.abb1_gnb {list-style-type: none; display: inline-block;}
.abb1_gnb li {float: left;}
.abb1_gnb a {font-size: 15px;color: #5b5b5b; text-align: center; padding: 0 30px; border-left: 1px solid #5b5b5b; border-right: 1px solid #5b5b5b;}
.abb1_gnb_tab{padding-bottom: 10px; border-bottom: 1px solid #c0c0c0;}
.abb1_tooltip { position: relative; display: inline-block; border-bottom: 1px dotted black;}
.abb1_tooltip .abb1_tooltiptext {font-size: 10px; width: 30px; visibility: hidden; background-color: #5b5b5b; color: #fff; text-align: center; border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; bottom: 3px;}
.abb1_tooltip:hover .abb1_tooltiptext { visibility: visible; }
.abb1_tbboxoffice {margin: 0 auto; width: 1035px; text-align: center}
.abb1_tbboxoffice_firstcol {width: 285px; background-color: #2A2E33; color: #BFB689;}
.abb1_tbboxoffice_firstcol a {font-size: 14px; color: white; text-align: center; text-decoration: none; padding: 0 20px 0 20px; }
.abb1_main_reservebtn {background-color: #ee1c25; color: white; font-weight: bold; font-size: 20px; height: 48px;}
.abb1_rank {list-style-type: none; display: inline-block;}
.abb1_rank li { float: left; display: table; height: 30px; color: #1a1917; font-size: 14px; font-weight: bold; letter-spacing: -0.5px;}
.abb1_rank a:hover{color: red; text-decoration: none}
.abb1_rank_grade{display: inline-block; overflow: hidden; vertical-align: middle; width: 24px; height: 24px; margin-right: 5px; text-indent: -99999em;}
.abb1_rank_moviename{text-align: left; display: inline-block;width: 150px;height: 17px;line-height: 17px;vertical-align: middle;text-overflow: ellipsis; overflow: hidden;white-space: nowrap;}
.abb1_memRk{ float: right;display: inline-block; height: 30px; line-height: 30px; color: #666; font-size: 13px;}
.abb1_slidePoster{list-style-type: none; display: inline-block;}
.abb1_slidePoster li {float: left;}
.abb1_slidePoster a {font-size: 17px;color: #5b5b5b; text-align: center; text-decoration: none; padding: 0 20px;}
.abb1_slideBtn {padding-top: 110px}
.abb1_no_padding{padding: 0;}
.abb1_width_100{width:100%;}
.abb1_text_center{text-align: center;}
.abb1_eventBxMain{color: #231f20; font-size: 25px; margin-bottom: 20px; font-style: italic;}

/*------ bbs -------*/
.abb1_bbs_table{width:980px;margin:0 auto;padding:50px 0;color:#231f20}
.abb1_bbs_table_text{padding-bottom:20px;font-size:28px}
.abb1_bbs_table .abb1_select_box{float:left;margin-right:5px; width: 124px; height: 28px;}
.abb1_bbs_table select {width: 124px; height: 28px; }
.abb1_bbs_table span {float:right;padding-top:8px;color:#231f20 }
.abb1_submitbtn{float: left;min-width: 50px;text-align: center;height: 28px;border: 0;background: #231f20; color: #fff; font-size: 12px; font-weight: bold;}
.abb1_searchtext {float: left; height: 28px; border-right: 0;}
.abb1_category{padding-top:30px;font-size:14px}
.abb1_bbs_pagination_table{margin: 0 auto; text-align: center;}
.abb1_bbs_pagination_table td{width: 100px;}

/*------- bbs detail, notice_detail -------*/
.abb1_bbs_notice_table tr td{border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; border-collapse: collapse; height: 100px; width: 900px;}
.abb1_bbs_notice_table tr:nth-child(2){background: #f9f6ec;}
.abb1_bbs_notice_table span{ text-decoration: none; color: #555;}
.abb1_view_info{margin-bottom: 30px;}
.abb1_view_info li:first-child{padding-left: 0;background: none;}
.abb1_view_info li{float:left;padding:0 0 0 20px;margin:0 20px 0 0;font-size:13px;color:#666}
.abb1_review_result{display:table-cell;width:900px;vertical-align:middle;border-bottom: 1px solid #9d9d9d}

/*------- bbs write -------*/
.abb1_bbs_write_container{padding:50px; width:980px; margin: 0 auto;}
.abb1_bbs_write_table{width:980px;color:#231f20}
.abb1_bbs_write_table td{border-bottom: 1px solid #dedede; height: 63px; color: #777; vertical-align: middle;}
.abb1_bbs_write_text{padding-bottom:20px;font-size:28px}
.abb1_bbs_write_radio {width: 700px}
.abb1_bbs_write_radio span{padding-right: 11px;}
.abb1_write_ddl{height:40px;padding:10px 0 10px 10px;line-height:32px;font-size:14px;color:#231f20}
.abb1_write_ddl option{font-weight:400;display:block;white-space:pre;min-height:1.2em;padding:0 2px 1px}
.abb1_write_title{width:100%;height:40px;padding:10px;border:1px solid #dedede;background:#f5f5f5}
.abb1_bbs_write_btns{text-align: center; padding-top: 30px}
.abb1_bbs_write_btns a{padding-left: 5px; padding-right: 5px}
.abb1_bbs_write_btns input{min-width:100px;height:40px;padding:0 10px;border:1px solid #231f20;font-size:16px;font-weight:700}
.abb1_bbs_write_cancel{background:#fff;color:#231f20}
.abb1_bbs_write_confirm{color:#cdc197;background:#231f20;}

/*------ main id ------*/
>>>>>>> john
#boxoffice{width:100%; text-align: center; padding-top: 17px;}
#slidePoster{margin-top: 50px;}
#bannerbox{margin-top: 50px; border-top: 1px solid #c0c0c0; border-bottom: 1px solid #c0c0c0; width:100%; text-align: center;}
#eventBxMain{padding: 50px 0; border-bottom: 1px solid #c0c0c0; }
#bnShortcuts{padding: 50px 0; border-top: 1px solid #c0c0c0; border-bottom: 1px solid #c0c0c0; width:100%; text-align: center;}

/*------ bbs id -------*/
#bbs_table{width:100%;color:#231f20;line-height:18px;table-layout:fixed}
#bbs_table tr:nth-child(1){font-weight: bold; background: #f9f6ec;}
#bbs_table th{padding:14px 0 13px;border-bottom:1px solid silver;vertical-align:middle; text-align: center; font-size:13px; background: white;}
#bbs_table td{padding:15px 10px;border-bottom:1px solid #dedede;color:#666;vertical-align:middle; font-size:13px;}
#bbs_pagination{ margin-top: 30px; text-align: center;}
#bbs_pagination a{width:24px;height:24px;line-height:24px;margin:0 5px;color:#666;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
#bbs_pagination a.on{background-color: #231f20; color: white;}
#bbs_pagination a:hover{background-color: #594f52; color: white;}
#bbs_pagination img{background-color: white;}

/*------- bbs notice, review id -------*/
#bbs_review_result_name1{margin-right: 20px;}
#bbs_review_result_txt1{margin-top:20px;margin-bottom:8px;color:#231f20;font-size:13px;line-height:18px;word-break:break-all}
#bbs_review_result_reg_date1{font-size: 12px; color: #666}
#bbs_review_contents{width:100%;border:1px solid #e8e8e8;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-size:14px;color:#666}
#bbs_review_contents_submit{width:100%;height:87%;background:#231f20;font-size:18px;font-weight:700;color:#cdc197;text-align:center;line-height:23px;border:0}

/*------- bbs write id -------*/
#bbs_write_select_movie{background-color: white; color: #231f20; font-size: 14px; font-weight: bold; min-width: 102px; height: 35px; line-height: 33px;}
#bbs_write_contents{width:100%;height:90%;padding:10px 10px 25px;font-size:13px;color:#777;line-height:22px;background:#f5f5f5;border: 1px solid #dedede; resize: none;}

/*------ reservation -------*/
.abb1_reservation{width:100%; height:100%; background: #f9f6ec;}
.abb1_reservation_main_form{ margin: 0 auto; text-align: center; width: 1000px}
.abb1_reservation_calendar {width: 100%}
.abb1_reservation_calendar span{font-size: 15px; }
.abb1_reservation_multiplex {background: white; width: 100%}
.abb1_reservation_multiplex span{float:left;font-size:20px;padding:0 0 0 10px;font-weight:700;color:#231f20}
.abb1_reservation_multiplex tr td{border: 1px solid #e0dfdf; padding: 8px}
.abb1_reservation_movielist li {width:100%; padding: 5px;}
.abb1_reservation_movielist li a.on{background:url(../img/reservation/check_btn.png) 10px center no-repeat;border:1px solid #999}
.abb1_reservation_movielist li a{display:block;padding:9px 10px 9px 29px;border:1px solid #fff;color:#231f20;font-size:14px;line-height:22px;word-break:break-all}
.abb1_reservation_tab_cont{font-size:16px;font-weight:700}
.abb1_reservation_tab_scroll{height:415px;padding-left:10px;overflow-y:auto}
.abb1_reservation_theater_zone{position:relative}
.abb1_reservation_theater_zone li{margin-bottom:8px}
.abb1_reservation_area_zone>a{display:block;width:116px;height:40px;line-height:40px;padding-left:13px;color:#666;text-align:left;vertical-align:middle;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.abb1_reservation_area_zone>a.on{width:107px;padding-left:22px;background:url(../img/reservation/bullet03.gif) 10px center no-repeat #231f20;color:#fff!important;letter-spacing:-1px}
.abb1_reservation_area_cont{display:none;position:absolute;left:131px;top:0}
.abb1_reservation_area_cont.on{display:block}
.abb1_reservation_area_list{overflow:hidden;width:412px}
.abb1_reservation_area_list li{float:left;margin:0 0 8px 7px;display:table}
.abb1_reservation_area_list li a{overflow:hidden;display:table-cell;vertical-align:middle;width:129px;height:40px;border:1px solid #efefef;background:#efefef;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;line-height:16px;font-size:12px;color:#666;text-align:center;letter-spacing:-1px}
.abb1_reservation_area_list a.on{padding:0 25px;border:1px solid #999;color:#231f20;font-weight:700;background:url(../img/reservation/check_btn.png) 10px 50% no-repeat #fff}
.abb1_reservation_confirm{width:980px;min-height:33px;margin:0 auto;box-sizing:border-box;-webkit-box-sizing:border-box}
.abb1_reservation_time{margin-bottom:10px}
.abb1_reservation_confirm .abb1_reservation_time .sub_tit02{margin-bottom:0}
.abb1_reservation_confirm .abb1_reservation_time .sub_etc{margin-left:8px;font-size:13px;color:#777;font-weight:400}
.abb1_reservation_time .abb1_reservation_timefr{float:right;margin-top:10px}
.abb1_reservation_timetit{width:980px;padding:20px;background:#efebdb;font-size:20px;color:#231f20;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-weight:700}
.abb1_reservation_time_a .abb1_reservation_timeline{padding:0 20px 30px}
.abb1_reservation_time_a .abb1_reservation_timeline dt{margin-top:0;font-size:16px;font-weight:700;color:#231f20;background:0 0}
.abb1_reservation_time_a .abb1_reservation_timeline dt [class^=grade_]{margin-right:10px}
[class^=grade_]{display:inline-block;overflow:hidden;vertical-align:middle;width:20px;height:20px;margin-right:5px;text-indent:-99999em}
.abb1_reservation_timeline dd{padding:15px 34px 10px 25px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.abb1_reservation_time_a .abb1_reservation_timeline dd{padding:0 5px}
.abb1_reservation_timeline dd .abb1_reservation_theatertime{overflow:hidden;width:935px}
.abb1_reservation_timeline dd .abb1_reservation_theatertime li{float:left;width:115px;margin:10px -1px 0 0;background:#fff;border:1px solid #ebeaea;text-align:center}
.abb1_reservation_timeline dd .abb1_reservation_theatertime li a{display:block}
.abb1_reservation_timeline dd .abb1_reservation_theatertime li .abb1_reservation_cined2{display:block;height:21px;line-height:21px;color:#666;border-bottom:1px solid #e5e5e5}
.abb1_reservation_timeline dd .abb1_reservation_theatertime li .abb1_reservation_cined2 em:first-child{font-size:12px;background:0 0!important;padding:0 3px}
.abb1_reservation_timeline dd .abb1_reservation_theatertime li .abb1_reservation_clock{display:block;height:38px;line-height:38px;border-bottom:1px solid #e5e5e5;font-size:15px;color:#666;font-weight:700}
.abb1_reservation_timeline dd .abb1_reservation_theatertime li .abb1_reservation_ppnum{display:block;height:19px;line-height:19px;color:#666;font-size:12px}
.abb1_reservation_timeline dd .abb1_reservation_theatertime li .abb1_reservation_ppnum em{color:#231f20}

/*------ reservation_seat -------*/
.abb1_seat{width:100%; height:100%; background: #f9f6ec;}
.abb1_reservation_seat_form{ margin: 0 auto; text-align: center; width: 980px}
.abb1_seat_maintext {text-align: left;}
.abb1_seat_maintext span{font-size: 28px; color: #231f20;}
.abb1_seat_screen{    display: block;
    margin-bottom: 15px;
    line-height: 25px;
    background: url(../img/reservation/bg_screen.gif) no-repeat 0 0;
    font-size: 20px;
    color: #231f20;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}
.abb1_seat_area{
       overflow: auto;
    position: relative;
    padding: 20px 0;
    background: #f9f8f3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
   text-align: center;
}
.abb1_seat_table{
   width: 980px;
   background: #f9f8f3;
}
.abb1_seat_table{
   margin: 0 auto; width: 400px; text-align: center; padding-bottom: 50px
}
.abb1_seat_table tr{
   height: 35px;
}
.abb1_seat_table td a{
   margin: 0 2px;
   padding: 6px 6px;
   font-size: 14px;
   background-color: #848484;
   color: white;
}
.abb1_seat_table td a:hover{
   margin: 0 2px;
   padding: 6px 6px;
   font-size: 14px;
   background-color: #181818;
   color: white;
}
.abb1_seat_table .reserved{
   margin: 0 2px;
   border: 1px solid #ff8080;
   padding: 5px 5px;
   font-size: 14px;
   background-color: #c2c2c2;
   color: #b2b2b2;
}
.abb1_seat_info{
   background: white; height: 100px; width: 100%
}
.abb1_seat_info img{
   margin-top: 25px;
}
.abb1_ticketing_settings{
   background: #33373a; width: 100%; height:234px;
}
.abb1_ticketing_table{
   margin: 0 auto; width: 1000px; text-align: center;
}
.abb1_ticketing_table td{
   width: 333px;
   color: #cdc197;
}
.abb1_ticketing_table span{
   color: white;
   font-size: 13px;
}
.abb1_ticketing_tr div{
   margin: 12px;
}
.abb1_ticketing_table .abb1_ticketing_tr2 td{
   width: 134px;
   color: white;
}
.abb1_ticketing_moviename{
       font-weight: bold;
    padding-bottom: 15px;
}
.abb1_ticketing_type{
       padding-bottom: 40px;
}
.abb1_ticketing_cost{
   text-align: right; font-size: 23px; height: 87px;
}
.abb1_ticketing_paying{
   text-align: center;
}
.abb1_ticketing_paying div{
   padding-bottom: 70px;
   font-size: 30px;
}
.abb1_ticketing_paying input{
   width: 100%; height: 50px; background:#cdc197; color: #33373a; font-weight: bold;
}

/*------ footer ------*/
#footer{width:100%; text-align: center; background-color: #f5f5f5;}

/*------ total settings ------*/
a {text-decoration: none; color:#2A2E33;}
a:hover {text-decoration: none;}
ol, ul, li {list-style: none;}
textarea{resize: none;}

.abb1_nowMovie_table{border-collapse:collapse;}
.abb1_nowMovie_border{border:1px solid #cdcdcd;}
.abb1_width_70{width: 70%;}
.abb1_width_center{margin:0 auto;width:100%;text-align:center;}
.abb1_width_center_w800{margin:0 auto;width:800px;text-align:center;}
.abb1_width_center_w50{margin:0 auto;width:50%;}
.abb1_width_center_w40{margin:0 auto;width:40%;padding-left: 120px;}
.abb1_width_center_40{margin:0 auto;width:40%;}
.abb1_width_center_w30{margin:0 auto;width:30%;}
.abb1_width_right{margin:0 auto;width:1000px;text-align:right;}
.abb1_width_right_w500{margin:0 auto;width:500px;text-align:rigth;}
.abb1_width_left{margin:0 auto;width:1000px;text-align:left;}
.abb1_ul_inline{list-style-type:none;display:inline-block;}
.abb1_li_inline{float:left;padding-right:20px;}
.abb1_font_bold{font-weight:700;}
.abb1_font_serif{font-family:serif;}
.abb1_font_italic{font-style:italic;}
.abb1_font_size_22{font-size:22px;}
.abb1_movie_detail_font_color{color:#666;}
.abb1_btn_login{margin-left:5px;background-color:#231f20;color:#efebdb;height:75px;}
.abb1_btn_signup{margin-left:5px;background-color:#ffffff;color:#231f20;border-color: #dfd7b7;width:70px;text-align: center;}
.abb1_star_rating {font-size:0; letter-spacing:-4px;}
.abb1_color_white{color:#ffffff;}
.abb1_color_black{color:#000000;}
.abb1_color_bold_brown{color:#231f20;}
.abb1_color_beige{color:#f9f6ec;}
.abb1_color_bold_beige{color:#efebdb;}
.abb1_bgcolor_white{background-color:#ffffff;}
.abb1_bgcolor_black{background-color:#000000;}
.abb1_bgcolor_bold_brown{background-color:#231f20;}
.abb1_bgcolor_beige{background-color:#f9f6ec;}
.abb1_bgcolor_bold_beige{background-color:#efebdb;}
.abb1_a_findId{color: black;padding-right: 15px;}
.abb1_a_findPw{color: black;}
.abb1_margin_right_30{margin-right: 30px;}
.abb1_margin_right_20{margin-left: 20px;}
.abb1_padding_top_15{padding-top: 15px;}
.abb1_padding_top_20{padding-top: 20px;}
.abb1_padding_bottom_20{padding-bottom: 20px;}
.abb1_padding_bottom_40{padding-bottom: 40px;}
.abb1_div_login{margin-right: 0px;margin-left: 0px;padding-top: 30px;padding-bottom: 30px;}
.abb1_bgstar_rating a{font-size:22px;letter-spacing:0;display:inline-block;margin-left:5px;color:#d9d9d9;text-decoration:none}
.abb1_star_rating a:first-child {margin-left:0;}
.abb1_star_rating a.on {color:#000000;}



/*------ login ------*/
#login_form{background-color:#f9f6ec;margin-right: 0px;margin-left: 0px;padding-top: 30px;padding-bottom: 30px;}
.abb1_login_maintext{color: #777; text-align: left;}
.abb1_btn_baseform{height: 68px;}
.abb1_find_table{width: 473px; margin-top: 20px}
.abb1_a_findIdPw{text-align:right;}
.abb1_a_findIdPw a{color: black; padding-right: 15px;}
.abb1_btn_login{height: 68px;background-color: #231f20;color: #efebdb;font-size: 15px;}

/*------ signup ------*/
.abb1_signup_form{background-color:#f9f6ec;margin-right: 0px;margin-left: 0px;padding-top: 30px;padding-bottom: 30px;}
.abb1_signup_settings{margin: 0 auto;text-align: center;width: 473px;}
.abb1_signup_maintext{color: #777; text-align: left;}
.abb1_signup_form_control {width: 473px;margin-top: 20px;}
.abb1_signup_form_control input{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.abb1_signup_form_control select{width: 100%}
.abb1_signup_form_control select .btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px}
.ab1_signup_form_control select .btn_default{color:#333;background-color:#fff;border-color:#ccc}
.abb1_sigunup_form_gender{font-size:15px;color:#969696;position:relative;z-index:10;display:block;float:left;width:237px;height:38px;border:1px solid #dcdcdc}
.abb1_sigunup_form_gender input{position:absolute;z-index:9;top:0;left:0;width:100%;height:31px}
.abb1_sigunup_form_gender label{line-height:32px;position:absolute;z-index:10;top:0;left:0;display:block;width:100%;height:36px;cursor:pointer;text-align:center;color:#676767;background:#fff}
.abb1_sigunup_form_gender label:hover{background:#e7e7e7}.abb1_btn_lg{display:block;padding:5px 7px;font-size:13px;line-height:1.3333333;border-radius:6px}
.abb1_btn_verification{width:100%;background-color:#ffffff;color:#231f20;border-color: #dfd7b7;text-align: center;}
.abb1_btn_confirm{margin-top: 30px; height: 53px;}



/*------ mypage ------*/
.abb1_page_ul_inline{list-style-type:none;display:inline-block;}
.abb1_page_li_inline{float:left;}
.abb1_width_left_content{margin:0 auto;width:1000px;text-align:left;}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start:0px;
}

.abb1_star_rating a:first-child {margin-left:0;}
.abb1_star_rating a.on {color:#000000;}
.abb1_page_gnb_li{padding: 10px;border-bottom:1px solid #231f20;}
.abb1_detail_gnb_li{padding: 10px;color: black;}
.abb1_page_reservation{margin-left:20px; margin-right:20px; border-top:1px solid #cec8ca;border-bottom:1px solid #cec8ca;padding-top: 20px;padding-bottom: 20px;}
.abb1_page_info{width:960px; margin-left:20px; margin-right:20px; border-top:1px solid #cec8ca;border-bottom:1px solid #cec8ca;padding-top: 20px;padding-bottom: 20px;}
.abb1_detail_reservation{border:1px solid #cec8ca;}


/*-------updateInfo--------*/
#updateInfo table tr td{}
#updateInfo td{height: 55px;}
#updateInfo strong{margin-left: 15px;margin-right: -15px; }

/*--------findId--------*/
.abb1_red_font{font-size: 15px;color: #ff0000;}




.colorcheck{color: #efebdb;}
